<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSRF Token -->
  <!--   <meta name="csrf-token" content="{{ csrf_token() }}"> -->

 <!-- Scripts -->
 <!-- <script src="{{ asset('js/app.js') }}" defer></script> -->
 <!-- Fonts -->
 <link rel="dns-prefetch" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
 <!-- <link href="{{ asset('css/app.css') }}" rel="stylesheet"> -->

 <title>HDI</title>
</head>

<body>
  <!--Primera sección del contenido -->
  <div class="jumbotron">
    <div class="container">
      <!-- Esto es el titulo de la aplicación -->
      <h1 class="display-3">Herramienta de Informática</h1>
      <!-- Esto es el primer párrafo de la aplicación -->
      <p>Esta es una herramienta diseñada por el departamento de informática del instituto de angiología y cirugía vascular, con el fin de informatizar todo los procesos de control y registro de medios de computación de dicha institución.</p>
      <p><a class="btn btn-primary btn-lg" href="{{'https://instituciones.sld.cu/inacv/'}}" role="button">leer más &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Correo</h2>
        <p>Enlace al correo "infomed.sld.cu" perteneciente a nuestro proveedor de internet Infomed donde podrá consultar informaciones relevantes y prioritarias destinadas a su organización y cumplimiento. </p>
        <p><a class="btn btn-secondary" href="https://webmail.sld.cu/imp/login.php" role="button">leer más &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Web Principal</h2>
        <p>Enlace a la Web Principal en donde encontrará diversas opciones y se actualizará de todo lo que está ocurriendo en nuestro Instituto. Tendrá mas información en el siguiente enlace... </p>
        <p><a class="btn btn-secondary" href="http://192.168.1.8/rsinacv/" role="button">leer más &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Biblioteca</h2>
        <p>Enlace a la Biblioteca en la cual podrá instruirce de todas las bibliografías mas populares entre los estudiantes y profesores. Podrá valorar cuan instruido es nuestro equipo de trabajo.</p>
        <p><a class="btn btn-secondary" href="http://192.168.1.8/bibliotek/index.html" role="button">leer más &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</body>

<footer class="container">
  <p>&copy; MasterCompany 2017-2021</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js">')</script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"crossorigin="anonymous"></script>
</html>
